.left_arrow{
    border-bottom: 7px solid transparent;
    border-right: 7px solid #bdc6cf;
    border-top: 7px solid transparent;
    height: 0;
    position: absolute;
    // float:left;
    margin-right: 11px;
    margin-top: 13px;
    width: 0;
    pointer-events: none;
    cursor: default;
}

.right_arrow{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #bdc6cf;
    float: right;
    margin-right: 11px;
    margin-top: 13px;
    pointer-events: none;
    cursor: default;
}
