.btn-section{
    padding: 1.5rem;
    // height: calc( 100% - (61.2rem) );
    color: #252525;
    

    .btn{
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #c8c8c8;
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 39px;
        // padding: 8px 17px 13px 8px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        margin-bottom: 6px;
        //  margin-top: 19px;
        -webkit-appearance: none;

        &__primary{
            outline: none;
            color: #252525;
            
            
            &--next{
                float: right;
                background-color: #fff;
            }

            &--prev{
                float:left;
                background-color: #fff;
            }

            &--blue{
                background-color: #38aae9;
                font-size: 1.2rem;
                border-color: #38aae9;
                color: #ffffff;
            }
            &--mr{
                background-color: #fff;
                margin-right: 3px;
            }

            &--clr{
                background-color: #fff;
            }

            &--snext{
                background-color: #38aae9;
                font-size: 1.2rem;
                border-color: #38aae9;
                color: #ffffff;
                float: right;
                vertical-align: center;
            }

            &--finalSbmt{
                background-color: #38aae9 !important;
                border-color: #38aae9 !important;
                color: #ffffff;

                &:hover{
                    cursor: not-allowed;
                }
            &--summary-next{
                font-weight: bold !important;
                font-family: 'Times New Roman', Times, serif !important;
                }
            }
        }

        &:hover{
            border: 1px solid #333;
            background-color: #0c7cd5
        }
    }
}

// img{
//     margin-left: 7px;
//     /* width: 25px; */
//     height: 16px;
//     width: auto;
//     max-width: 20px;
//     padding-top: 2px;

// }