.footer-main{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    background: #617B8C;
    color: #FFFFFF;
    display: block;
    height: 2.2rem;
    width: 100%;
    text-align: center;
    line-height: 2.2rem;
}