.summary-section{

    .summary-page-layout{
        margin-top: 1rem;
        padding-bottom: 2.5rem;

        .summary__page-container{
            margin-left: .3rem;
            border: 1px solid rgb(195, 195, 193);
            height: calc( 100vh - (3.2rem + 2.5rem) );
            overflow-Y: auto;

            .summary__page-header{
                height: 4rem;
                width: 100%;
                background-color: #BCE8F5;
                line-height: 4rem;
                font-size: 1.6rem;
                font-weight: bold;
                color: #676568;
                margin-bottom: 7rem;
            }

            .summary__page-table-container{
                padding: 2rem;
                text-align: center;
                border-bottom: 1px solid rgb(195, 195, 193);

                .table-properties{
                    border-collapse: collapse;
                    font-size: 1.2rem;
                    margin-bottom: 25rem;
                    
                }

                table, th, td {
                    padding: 1.5rem;
                    border: 1px solid black;
                  }

            }

            .summary__page-btn-section{
                height: 4rem;
                text-align: center;

                .btn-section-summary{
                    padding: 0 !important;
                }

                .button-position{
                  padding: 0 2rem;
                }
            }

        }

    }
}