.instructions-heading{
    height: 4rem;
    line-height: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #676568;
    background: #BCE8F5;
    padding-left: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.instruction-row{
    overflow-y: auto;
    border-bottom: 1px solid #c8c8c8;

    &-1{
        height: 45rem;
    }

    &-2{
        height: 34rem;
    }

    .instruction-paragraph{
        margin: 0 0 1.6rem 2rem;
        
        u{
            font-size: 16px;
            margin: 1.6rem 0;
        }
        
        ol{
            padding-top: 10px;
            padding-left: 30px;
            font-size: 16px;
        }
    }
}

.section-rt-main{
    margin-top: 5rem;
    height: 32.6rem;
    width: 100%;
    

    .candidate-photo{
        width: auto;
        height: 100px;
        margin-bottom: 1rem;
    }
}



