.nda{
    margin: .1rem 0 1.6rem 2rem;
    border-bottom: 1px solid #c8c8c8;
    height: 10rem;
    overflow-y: auto;
    
        &-paragraph{
            font-family: Arial, Helvetica, sans-serif;
            padding: .4rem 0;

            &-list{
                font-size: 1.2rem;
                padding-left: 2rem;
            }

        }
        
    &-heading{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        padding-left: 10px;
        float: right;
        }

}

// label{
//     display: block;
//     cursor: pointer;
//     line-height: 16px;
//     padding: 2px 10px;
//     color: #303030;
//     margin-bottom: 20px;
//     float: left;
//     clear: both;
// vertical-align: 2px;
// }
