.test-page{

    .test-page-layout{

        .test-page-header{
            background-color: #363636;
            font-family: Arial,Helvetica,sans-serif;
            // line-height: 2rem;
            color: #f7f64e;
            font-size: 1.2rem;
        
            .header__element{
                vertical-align: middle;
        
                .instruction-icon{
                    height: 10px;
                    width: auto;
                    padding-right: .5rem;
                    }
                   
                }
            }

        .test__page-mr{
            background-color: #fffffd;
        
        
            &-cr{
                background-color: #fffffd;
                border-left: 1px solid #c3c3c1;

                &-top{
                    width: 100%;
                    height: 11.5rem;
                    border-bottom: 1px solid #c3c3c1;

                    .image-container{
                        width: 33.333%;
                        padding: 1rem;
                        float: left;
                        }

                    .candidate-details{
                        float: left;

                        .candidate_name{
                            padding: 1rem;
                            font-size: 15px;
                            color: rgb(79, 104, 135);
                            font-weight: bold;
                            text-align: center;
                            font-family: 'Times New Roman', Times, serif;
                            }

                        }
                    }

                &-main{
                    height: $right-mr-height;
                    border: 2px solid black;
                    background-color: #e5f6fd;

                    .notation__area{
                        background: #fff;
                        width: 100%;
                        height: 15rem;

                        &-outer{
                            width: 100%;
                            background-color: #fff;
                            float: left;

                            .table-1{
                                padding: 5px;
                                
                                .td-1{
                                    padding: 5px;
                                    text-align: left;
                                }

                            }

                            .table-2{
                                padding-left: 5px;
                                padding-right: 5px;
                                padding-bottom: 5px;

                                .td-2{
                                    padding-left: 5px;
                                    padding-right: 5px;
                                    padding-bottom: 5px;
                                    text-align: left;
                                }

                            }

                            

                            .notation-text{
                                font-size: 1.2rem;   
                                color: #262626;
                                text-align: center;
                                font-family: Arial, Helvetica, sans-serif;                               
                            }
                        }

                    }

                    .mock__link-container{
                        width: 100%;
                        height: 3.5rem;
                        background: #4e85c5 none repeat scroll 0 0;
                        position: relative;
                        
                        &-content{
                            height: 2.5rem;
                            line-height: 1.5rem;
                            padding: 1rem 1rem 0 1rem;
                            position: absolute;
                            color: white;
                            font-size: 1.6rem;
                            font-weight: bold; 
                        }
                    }
                    .choose-question{
                        font-size: 1.2rem;
                        font-weight: bold;
                        height: 2.6rem;
                        line-height: 2.6rem;
                        padding-left: 10px;
                    }
                }
                &-btn-section{
                    width: 21%;
                    border: 1px solid #c3c3c1;
                    height: 6.8rem;
                    position: fixed;
                    bottom: 2.2rem;
                    right: 0;
                    background-color: #e5f6fd;

                    .sbmt-btn-container{
                        text-align: center;
                    }
                }     
            }

            &-cl{
                background-color: #fffffd;

                &-s1{
                    height: 4.5rem;
                    background-color: #eeeeee;
                    width: 100%;
                    line-height: 4.5rem;

                    .group-icons{
                        height: 4.5rem;
                        line-height: 4.5rem;
                        vertical-align: middle;
                        margin: 0 .5rem;
                        color: orangered;
                        // float: left;
                        position: relative;
                        }

                    }

                &-stimer{
                    width: 100%;
                    height: 3rem;
                    line-height: 3rem;
                    border-bottom: 1px solid #c3c3c1;

                .section{
                    font-size: 11.9173px;
                    margin-left: 1.2rem;
                    float: left;
                    }
                .timer{
                    font-size: 1.44rem;
                    margin-right: 1.2rem;
                    float: right;
                    font-weight: bold;
                }

                    }

                &-instr-link{
                    width: 100%;
                    height: 4rem;
                    border-bottom: 1px solid #c3c3c1;

                    .instr-link-section{
                        height: 4rem;
                        line-height: 4rem;
                        
                        margin: 0 .5rem;

                        .blue-instr-box{
                            height: 4rem;
                            background-color: #4e85c5;
                            display: inline-flex;
                            -webkit-display: inline-flex;
                            margin-left: 2rem;
                            line-height: 2rem;
                            

                            &-content{
                                padding: 1rem;
                                vertical-align: middle;
                                color: #ffffff;
                                font-family: OpenSans-Regular;
                                font-size: 1.2rem;
                                font-weight: 700;
                                
                            }
                        }
                    }
                }
                
                &-qtype{
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    
                    .question-type{
                        color: #f07f5f;
                        padding-left: 1.2rem;
                        font-size: 12.995px;
                        font-weight: bold;
                        }
                    }
              

                &-main{
                    width: 100%;
                    border: 1px solid #bdbdbd;
                    height: calc( 100% - 23.2rem );
                    overflow-y: auto;

                    &-qno{
                        width: 99.9999%;
                        height: 2.8rem;
                        line-height: 2.8rem;
                        border-bottom: 1px solid #c3c3c1;
                        // position: relative;

                        .question-no{
                        width: 50%;
                        font-weight: bold;
                        text-align: left;
                        font-size: 1.5rem;
                        padding-left: .3rem;
                        float: left;
                        font-family: 'Times New Roman', Times, serif;
                            }
                        
                        .arrow-down{  
                            padding-right: .3rem;
                            float: right;
                            vertical-align: middle;
                            // position: absolute;
                           }
                        }
    
                    &-qAnsArea{
                        width: 98%;

                        &-1{
                            .question{
                                margin-left: 0 1rem;
                                font-family: Arial,verdana,helvetica,sans-serif;
                                padding: 10px;
                                margin-bottom: 2rem;
                                font-size: 1.5rem;
                                font-weight: 100;
                            }
                            
                        }

                        &-2{
                            .options{
                                font-family: Arial,verdana,helvetica,sans-serif;
                                font-size: 1.5rem;
                                margin: 0 1rem;

                                p{
                                    display: inline-block;
                                }
                            }

                        }   
                    }
                }
                &-blank{
                    height: 2px;
                    
                } 

                &-btn-section{
                    width: 78.8%;
                    border: 1px solid #c3c3c1;
                    height: 6.8rem;
                    position: fixed;
                    bottom: 2.2rem;
                    left: 0;
                    background-color: white;
                }
            }
          
            
        }
    }
}


.questions-buttons{
    height: calc( #{$right-mr-height} - 0rem );
    overflow-y: auto;
    overflow-x: hidden;
}

.mark{
    height:50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: inline-block;
    line-height: 41px;
    font-size: 16px;
    color: white;
    &-skip{
        background-image: url('../../assets/skip.png');
    }
    &-green{
        background-image: url('../../assets/green.png');

    }
    
}

.answered{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    font-size: 16px;
    color: white;

    &-count-1{
        background-image: url('../../assets/attempted.png');
    }

    &-count-2{
        background-image: url('../../assets/not_att.png');
    }

    &-count-3{
        background-image: url('../../assets/not-visited.png');
    }

    &-count-4{
        background-image: url('../../assets/voilet-1.png');
    }

    &-count-5{
        background-image: url('../../assets/voilet-2.png');
    }
}


// .active_que{
//     display: block;
// }
// .hidden_que{
//     display: none;
// }