    .common-page-layout{
        max-width: 136.6rem;
        margin: 0 auto;

        .instr-page-header{
            width: 100%;
            height: 5rem;
            background-color: #3b5998;
            
        }

        .main-row{
            height: calc( 100% - (7.2rem) );
            position: relative;

            [class^="col"]{
                float: left;
            }
            
            .col-left{
                width: 79%;
                position: fixed;
                top: 5rem;
                left: 0;
                bottom: 2.2rem;
                font-size: 3rem;
            }

            .col-right{
                width: 21%;
                height: calc( 100% - 7.2rem );
                background: linear-gradient(to bottom, 
                rgba(247,247,247,0) 0%, 
                rgba(226,225,226,1) 55%, 
                rgba(212,211,212,1) 91%, 
                rgba(209,207,209,1) 100%);
                position: fixed;
                right: 0;
                top: 5rem;
                bottom: 2.2rem;
                border-left: 1px solid black;
            }
        }
    }


//Test Page
.test-page-layout{

    .test-page-header{
        height: 3rem;

        .header__element{
        
            &--left{
                Padding: 1rem;
                float: left;
                width: 50%;
                
            }
    
            &--right{
            padding: 1rem;
               float: right;
            }
        
        }
    }

    .test__page-mr{
        width: 100%;
        margin: 0;
        height: calc( 100vh - 5.2rem );


        &-cr{
            // visibility: hidden;
            width: 21%;
            position: fixed;
            right: 0;            
            top: 3rem;
            height: calc( 100vh - 5.2rem );
        }

        &-cl{
            width: 79%;
            height: calc( 100vh - 5.2rem );
        }
    
    }

}

