*,
*:after,
*:before{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

.body{
    box-sizing: border-box;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}