.main-heading{
    font-size: 2.5rem;
    line-height: 40px;
    font-weight: bold;
    color: #676568;
    padding-left: 15px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

h2{
    font-size: 1.8rem;
}

.candidate-name{
    font-size: 20px;
    color: rgb(79, 104, 135);
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    



 


 